@model ContentsVM

<h1>@Model.ArticleDisplay</h1>

<ul>
    @foreach (var chapter in Model.Contents)
    {
        <li>
            <h3>@chapter.Display</h3>
            <a href="@Url.Action("Chapter", "Articles", new { Id = Model.ArticleUid, ChapterId = chapter.Uid })">Start reading</a>
        </li>
    }
</ul>