@model DictionaryVM

<ul>
    @foreach (var cat in Model.Categories)
    {
        <li>
            <h3>@cat.Display</h3>            
        </li>

        foreach(var art in cat.Articles)
        {
            <li>
                <a href="@Url.Action("Article", "Articles", new { Id = art.Uid })">@art.Display</a>
            </li>
        }
    }
</ul>
