@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Impara a costruire siti web!</h1>
    <p class="lead">
        Con W3School.it e' la piu grande piattaforma gratuita italiana dove puoi imparare a costruire un sito web. Offiramo corsi e turorial gratuiti in diverse tecnologie web tra cui HTML, CSS, JavaScript, JQuery, ASP.NET e molti altro. <br />
        Seleziona e scegli il corso dal menu laterale e inizia a costruire la tua carriera da subito!
    </p>
    <p><a href="@Url.Action("Index", "Articles")" class="btn btn-primary btn-lg">Scopri di piu' &raquo;</a></p>
</div>

<div class="row home">
    <div class="col-md-4">
        <h2>Impara a linguaggio</h2>
        <p>
            Qui puoi trovare una lunga lista di linguaggi di programmazione web.<br />
            Seleziona e scegli il corso dal menu laterale e inizia a costruire la tua carriera da subito!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Articles")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Certificati con W3School.it</h2>
        <p>
            W3School.it offre un programma di certificazione online, dove ti puoi certificare in uno o nei piu' popolari lunguaggi di programmazione web.<br />
            La soluzione perfetta per realizzare i tuoi sogni e costruire una carriera finanziariamente proficua.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Articles")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inizia a guadagnare!</h2>
        <p>
            I lavori nel campo della programmazione informatica sono tra i primi posti come retribuzione e possibilita' di fare carriera.<br />
            Impara un linguaggio con noi e inizia a guadagnare da subito!
        <p><a class="btn btn-default" href="@Url.Action("Index", "Articles")">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut neque luctus elit ultrices auctor. Vestibulum pretium leo non dolor tincidunt tristique. Donec ultrices eget felis eget gravida. Nam euismod interdum enim at dictum. Nunc in euismod nisl. Vestibulum blandit, metus at pharetra pharetra, erat purus eleifend mi, et venenatis lectus metus nec metus. Nunc ac urna sit amet nulla suscipit iaculis at non turpis. Mauris suscipit nibh sed volutpat sodales. Maecenas arcu neque, faucibus ut diam non, commodo elementum justo. Suspendisse pretium nisl sed lorem tincidunt, non sagittis tellus ornare.

                Nulla gravida purus enim, ut interdum mauris tristique ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean erat odio, venenatis nec facilisis non, elementum id diam. Nam bibendum aliquet elit sed rutrum. Etiam quis ligula diam. Mauris et ornare massa. Nam facilisis mauris non lectus dictum dapibus. Ut ut faucibus purus, vitae ornare massa. Aenean nec turpis ut metus lobortis molestie. Etiam eu elementum mi, eu placerat quam. Integer suscipit libero dolor, sollicitudin sollicitudin sapien lobortis at. Vestibulum hendrerit nunc sed purus lacinia, et auctor turpis blandit. Nulla facilisi. Nullam interdum non eros in congue. Nulla fermentum sollicitudin nibh, vel suscipit arcu fringilla eget.

                In convallis lobortis ante, eu vulputate magna. Aliquam est ligula, eleifend a velit quis, malesuada fringilla eros. Donec facilisis tellus nec lectus egestas, vitae rhoncus arcu bibendum. Sed finibus magna ac diam faucibus, vel feugiat nibh tempus. Nulla eu nulla tempus, rhoncus lorem aliquam, gravida felis. Ut ac ex nec est rutrum ornare. In suscipit mi nec vehicula tincidunt. Suspendisse tortor ligula, pharetra at iaculis eget, suscipit non tortor.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed tortor posuere, imperdiet tellus quis, sollicitudin augue. Suspendisse suscipit ultrices mi. Aliquam erat volutpat. In ullamcorper, eros eget vulputate varius, lacus augue placerat sapien, quis molestie neque mi sit amet ante. Nulla facilisi. Morbi tortor quam, ultrices nec imperdiet vitae, ullamcorper ut ante. Curabitur non sodales ex, quis faucibus diam. Sed vehicula dolor non augue sollicitudin vulputate. Morbi facilisis vitae dolor vulputate finibus. Etiam at lectus feugiat, aliquet sem vel, egestas dui.

                Vestibulum vel fringilla augue. Nullam id dignissim massa. Pellentesque nec mi vel lacus egestas consequat nec nec nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque eget quam eget eros varius congue. Phasellus rhoncus, lacus et sollicitudin fermentum, arcu libero vestibulum enim, eu posuere turpis magna et lorem. Praesent fringilla consequat odio vel pharetra. Fusce tincidunt mollis nibh ut blandit. Sed vehicula sapien at dapibus facilisis. In ullamcorper vehicula turpis sit amet ullamcorper.

                Pellentesque ultricies semper tincidunt. Mauris ut dolor eget sem interdum viverra. Sed a molestie nulla. Morbi sagittis eleifend libero, eget lacinia diam hendrerit ac. Morbi ut odio et leo molestie tempus eu ut tellus. Fusce hendrerit, odio id imperdiet volutpat, urna lorem venenatis dui, id molestie lacus enim ac est. Sed sem nulla, ornare sed ultrices ac, mattis quis magna. Morbi tempor a lectus efficitur sodales. Proin pharetra blandit lacinia. Nam nibh odio, bibendum ut libero sollicitudin, mollis vestibulum sapien. Etiam sit amet eleifend nisl. Aenean laoreet eu erat et aliquet. Nullam et vestibulum nisl. Quisque aliquam elit in rhoncus sodales. Etiam pellentesque, ipsum pulvinar fringilla pellentesque, felis felis tristique turpis, convallis mattis sapien justo in sapien.

                Nulla vitae leo nec ante euismod mattis. Aenean convallis leo ultrices posuere fermentum. Donec sollicitudin diam quis ullamcorper facilisis. Curabitur tempus mauris non ipsum faucibus, eget luctus ante aliquam. Nullam tincidunt gravida urna, nec fringilla neque venenatis sed. Sed eget turpis elementum, hendrerit ex quis, egestas felis. Nulla et lorem a erat scelerisque tempus scelerisque eu justo. Pellentesque metus orci, dignissim vitae ligula non, viverra dignissim enim.

                Donec id mattis elit. Nulla facilisi. Cras ac rhoncus arcu. Duis vitae lacus orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc eget mauris sollicitudin, venenatis ante facilisis, auctor metus. Suspendisse feugiat eros imperdiet est pretium, eget vehicula felis rhoncus. Vestibulum nec lorem bibendum, imperdiet dolor at, semper nibh. Pellentesque suscipit erat nibh, quis volutpat ligula consectetur sed. Phasellus placerat augue neque, eu semper odio sollicitudin sit amet. Duis lobortis lorem ac lacinia ultricies. Sed eleifend libero ligula, sit amet aliquet enim tempus at. Sed eget interdum elit, et placerat erat.

                In vitae tellus eu nulla suscipit ornare. Maecenas et est blandit, lacinia ipsum at, elementum elit. Cras facilisis sagittis tortor, id porttitor quam fermentum consequat. Ut ultrices dignissim eros, at vulputate urna consectetur id. Aliquam non justo non metus finibus scelerisque non in eros. Proin non facilisis ante. Praesent volutpat sem at tellus scelerisque dignissim. Nunc nisi quam, vestibulum in purus ut, tincidunt laoreet augue.

                Sed a ultricies enim. Etiam elementum mattis semper. Sed vel nunc ac odio maximus aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse semper risus non posuere venenatis. Duis vehicula nunc a mauris aliquet pulvinar. Cras id ante vitae augue mollis laoreet non a lorem. Nullam eget lorem eget urna euismod viverra. Ut elementum tempus
            </p>
        </div>
    </div>
</div>